<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CareMe Shop Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="CareMe is a ecommerce HTML5 Template">
		<meta name="keywords" content="CareMe, HTML5, ecommerce, Template">
		<meta name="author" content="CodexCoder">
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
		
		
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="assets/flaticon/flaticon.css">
		<link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
		<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>

	<body>
		<!-- hide menu option start here -->
		<div class="hb_left_bottom">
			<div class="hb_scroll_bottom scrollbar">
				<div class="offer_menu">
					<ul>
						<li><a href="#">Offers</a><span>3</span></li>
						<li><a href="#">Discount <span class="new_offer">New</span></a><span>4</span></li>
						<li><a href="#">Bundle</a><span>7</span></li>
					</ul>
				</div>
				<div class="main_menu">
					<ul class="d-xl-none">
						<li class="d-xl-none">
							<a href="JavaScript:Void(0);">Menu List</a>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">New Arrivals</a></li>
								<li><a href="#">Popular Item</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/01.png" alt="meni-icon"> Beauty Care</a>
							<ul>
								<li><a href="#">Beauty Care 1</a></li>
								<li><a href="#">Beauty Care 2</a></li>
								<li><a href="#">Beauty Care 3</a></li>
								<li><a href="#">Beauty Care 4</a></li>
								<li><a href="#">Beauty Care 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/02.png" alt="meni-icon"> Bakery</a>
							<ul>
								<li><a href="#">Bakery 1</a></li>
								<li><a href="#">Bakery 2</a></li>
								<li><a href="#">Bakery 3</a></li>
								<li><a href="#">Bakery 4</a></li>
								<li><a href="#">Bakery 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/03.png" alt="meni-icon"> Consumer</a>
							<ul>
								<li><a href="#">Consumer 1</a></li>
								<li><a href="#">Consumer 2</a></li>
								<li><a href="#">Consumer 3</a></li>
								<li><a href="#">Consumer 4</a></li>
								<li><a href="#">Consumer 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/04.png" alt="meni-icon"> Electronics</a>
							<ul>
								<li><a href="#">Electronics 1</a></li>
								<li><a href="#">Electronics 2</a></li>
								<li><a href="#">Electronics 3</a></li>
								<li><a href="#">Electronics 4</a></li>
								<li><a href="#">Electronics 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/05.png" alt="meni-icon"> Food</a>
							<ul>
								<li><a href="#">Food 1</a></li>
								<li><a href="#">Food 2</a></li>
								<li><a href="#">Food 3</a></li>
								<li><a href="#">Food 4</a></li>
								<li><a href="#">Food 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/06.png" alt="meni-icon"> Vehicle Essentails</a>
							<ul>
								<li><a href="#">Vehicle Essentails 1</a></li>
								<li><a href="#">Vehicle Essentails 2</a></li>
								<li><a href="#">Vehicle Essentails 3</a></li>
								<li><a href="#">Vehicle Essentails 4</a></li>
								<li><a href="#">Vehicle Essentails 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/07.png" alt="meni-icon"> Cleaning</a>
							<ul>
								<li><a href="#">Cleaning 1</a></li>
								<li><a href="#">Cleaning 2</a></li>
								<li><a href="#">Cleaning 3</a></li>
								<li><a href="#">Cleaning 4</a></li>
								<li><a href="#">Cleaning 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/08.png" alt="meni-icon"> Health</a>
							<ul>
								<li><a href="#">Health 1</a></li>
								<li><a href="#">Health 2</a></li>
								<li><a href="#">Health 3</a></li>
								<li><a href="#">Health 4</a></li>
								<li><a href="#">Health 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/09.png" alt="meni-icon"> Furniture</a>
							<ul>
								<li><a href="#">Furniture 1</a></li>
								<li><a href="#">Furniture 2</a></li>
								<li><a href="#">Furniture 3</a></li>
								<li><a href="#">Furniture 4</a></li>
								<li><a href="#">Furniture 5</a></li>
							</ul>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/10.png" alt="meni-icon"> Baby Care</a>
							<ul>
								<li><a href="#">Baby Care 1</a></li>
								<li><a href="#">Baby Care 2</a></li>
								<li><a href="#">Baby Care 3</a></li>
								<li><a href="#">Baby Care 4</a></li>
								<li><a href="#">Baby Care 5</a></li>
							</ul>
						</li>
					</ul>

					<ul class="d-none d-xl-block">
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/01.png" alt="meni-icon"> Beauty Care</a>
							<div class="mega_menu mm_st_1">
								<div class="mm_bg">
									<img src="assets/images/header/mega-menu/01.png" alt="mm_menu">
								</div>
								<div class="title">
									<h6>Bakery</h6>
								</div>
								<div class="row">
									<div class="col-6">
										<ul>
											<li><a href="#0">Cake</a></li>
											<li><a href="#">Bread & Buns</a></li>
											<li><a href="#">Muffin & Cupcakes</a></li>
											<li><a href="#">Ice Cream Raw Materials</a></li>
											<li><a href="#">Rush Toast</a></li>
											<li><a href="#">Pastry</a></li>
											<li><a href="#">Pies</a></li>
										</ul>
									</div>
									<div class="col-6">
										<ul>
											<li><a href="#">Bakery Sweets</a></li>
											<li><a href="#">Belgian Waffle Premix</a></li>
											<li><a href="#">Waffle Cone Premix</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/02.png" alt="meni-icon"> Bakery</a>
							<div class="mega_menu mm_st_2">
								<div class="title">
									<h6>Beauty Care</h6>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="mega_title">
											<h6>Mascara</h6>
										</div>
										<ul>
											<li><a href="#">Mascara</a></li>
											<li><a href="#">Foundation</a></li>
											<li><a href="#">Lip Gloss</a></li>
											<li><a href="#">Eyeshadow</a></li>
											<li><a href="#">Eyeliner</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-4">
										<div class="mega_title">
											<h6>Shampoo</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-4">
										<div class="mega_title">
											<h6>Moisturizer</h6>
										</div>
										<ul>
											<li><a href="#">Moisturizer</a></li>
											<li><a href="#">Cleanser</a></li>
											<li><a href="#">Anti-Aging</a></li>
											<li><a href="#">Exfoliators, Scrubs</a></li>
											<li><a href="#">Eye Treatments</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/03.png" alt="meni-icon"> Consumer</a>
							<div class="mega_menu mm_st_3">
								<div class="title">
									<h6>Consumer</h6>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="mega_title">
											<h6>Food & Beverage</h6>
										</div>
										<ul>
											<li><a href="#">Coffee</a></li>
											<li><a href="#">Tea</a></li>
											<li><a href="#">popcorn</a></li>
											<li><a href="#">chicken nuggets</a></li>
											<li><a href="#">Packaged fruit juice</a></li>
											<li><a href="#">Diet colas</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_title">
											<h6>Cosmetics</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_title">
											<h6>Cosmetics</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_img">
											<a href="#"><img src="assets/images/header/mega-menu/02.png" alt="mega_img"></a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/04.png" alt="meni-icon"> Electronics</a>
							<div class="mega_menu mm_st_4">
								<div class="title">
									<h6>Electronics</h6>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="mega_img">
											<img src="assets/images/header/mega-menu/03.png" alt="mega_img">
										</div>
										<div class="mega_title">
											<h6>laptop & netbook</h6>
										</div>
										<ul>
											<li><a href="#">Apple</a></li>
											<li><a href="#">Asus</a></li>
											<li><a href="#">HP</a></li>
											<li><a href="#">Acer</a></li>
											<li><a href="#">Lenovo</a></li>
											<li><a href="#">Dell MSI</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_img">
											<img src="assets/images/header/mega-menu/04.png" alt="mega_img">
										</div>
										<div class="mega_title">
											<h6>Computer</h6>
										</div>
										<ul>
											<li><a href="#">Casing</a></li>
											<li><a href="#">Pawer Supply</a></li>
											<li><a href="#">Processor</a></li>
											<li><a href="#">CPU Cooler</a></li>
											<li><a href="#">Graphics Card</a></li>
											<li><a href="#">Motherboard</a></li>
											<li><a href="#">Hard Disk Drive</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_img">
											<img src="assets/images/header/mega-menu/05.png" alt="mega_img">
										</div>
										<div class="mega_title">
											<h6>Office Equipment</h6>
										</div>
										<ul>
											<li><a href="#">Printer</a></li>
											<li><a href="#">Pos Printer</a></li>
											<li><a href="#">Scanner</a></li>
											<li><a href="#">Fax Toner</a></li>
											<li><a href="#">Cartridge</a></li>
											<li><a href="#">Conference Systems</a></li>
											<li><a href="#">Money Counting Machine</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_img">
											<img src="assets/images/header/mega-menu/06.png" alt="mega_img">
										</div>
										<div class="mega_title">
											<h6>Camera</h6>
										</div>
										<ul>
											<li><a href="#">Action Camera</a></li>
											<li><a href="#">Camera Lenses</a></li>
											<li><a href="#">Digital Camera</a></li>
											<li><a href="#">DSLR</a></li>
											<li><a href="#">Handycam</a></li>
											<li><a href="#">Cideo Camera</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/05.png" alt="meni-icon"> Food</a>
							<div class="mega_menu mm_st_5">
								<div class="title">
									<h6>Foods</h6>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="mega_title">
											<h6>Mascara</h6>
										</div>
										<ul>
											<li><a href="#">Mascara</a></li>
											<li><a href="#">Foundation</a></li>
											<li><a href="#">Lip Gloss</a></li>
											<li><a href="#">Eyeshadow</a></li>
											<li><a href="#">Eyeliner</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-4">
										<div class="mega_title">
											<h6>Shampoo</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-4">
										<div class="mega_title">
											<h6>Moisturizer</h6>
										</div>
										<ul>
											<li><a href="#">Moisturizer</a></li>
											<li><a href="#">Cleanser</a></li>
											<li><a href="#">Anti-Aging</a></li>
											<li><a href="#">Exfoliators, Scrubs</a></li>
											<li><a href="#">Eye Treatments</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/06.png" alt="meni-icon"> Vehicle Essentails</a>
							<div class="mega_menu mm_st_6">
								<div class="mm_bg">
									<img src="assets/images/header/mega-menu/07.png" alt="mm_menu">
								</div>
								<div class="title">
									<h6>Bakery</h6>
								</div>
								<div class="row">
									<div class="col-6">
										<ul>
											<li><a href="#0">Cake</a></li>
											<li><a href="#">Bread & Buns</a></li>
											<li><a href="#">Muffin & Cupcakes</a></li>
											<li><a href="#">Ice Cream Raw Materials</a></li>
											<li><a href="#">Rush Toast</a></li>
											<li><a href="#">Pastry</a></li>
											<li><a href="#">Pies</a></li>
										</ul>
									</div>
									<div class="col-6">
										<ul>
											<li><a href="#">Bakery Sweets</a></li>
											<li><a href="#">Belgian Waffle Premix</a></li>
											<li><a href="#">Waffle Cone Premix</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="JavaScript:Void(0);"><img src="assets/images/header/menu/07.png" alt="meni-icon"> Cleaning</a>
							<div class="mega_menu mm_st_7">
								<div class="mm_bg">
									<img src="assets/images/header/mega-menu/08.png" alt="mm_menu">
								</div>
								<div class="title">
									<h6>Cleaning</h6>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="mega_title">
											<h6>Food & Beverage</h6>
										</div>
										<ul>
											<li><a href="#">Coffee</a></li>
											<li><a href="#">Tea</a></li>
											<li><a href="#">popcorn</a></li>
											<li><a href="#">chicken nuggets</a></li>
											<li><a href="#">Packaged fruit juice</a></li>
											<li><a href="#">Diet colas</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_title">
											<h6>Cosmetics</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
									<div class="col-3">
										<div class="mega_title">
											<h6>Cosmetics</h6>
										</div>
										<ul>
											<li><a href="#">Shampoo</a></li>
											<li><a href="#">Conditioner</a></li>
											<li><a href="#">Styling Cream, Mousse</a></li>
											<li><a href="#">+ Gel</a></li>
											<li><a href="#">Hair + Scalp</a></li>
											<li><a href="#">Treatments</a></li>
											<li><a href="#">Hairspray + Finishing</a></li>
											<li><a href="#">Spray</a></li>
										</ul>
										<a href="#" class="text_btn">View All<i class="fas fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="view_all">
					<a href="#">View All</a>
				</div>
				<div class="main_btn">
					<a  class="btn" href="#">Become a Retailor</a>
				</div>
			</div>
		</div>
		<!-- hide menu option ending here -->

		<!-- singin & loging part start here -->
		<div class="sign_login scrollbar">
			<div class="sign_login_close"></div>
			<div class="container">
				<div class="box_sign_login">
					<div class="Close_sing" title='close-btn'><i class="fas fa-times"></i></div>
					<ul class="log_sign_nav">
						<li class="sign_show active" data-target="sign-show">Sign Up</li>
						<li class="login_show" data-target="login-show">Login</li>
					</ul>
					<div class="log_sign_content sign-show">
						<div class="log_in">
							<ul class="log_in_nav">
								<li class="retailer_show active" data-target="retailer-show"><i class="fas fa-check"></i> Retailer</li>
								<li class="customer_show" data-target="customer-show"><i class="fas fa-check"></i> Customer</li>
							</ul>
							<div class="log_in_content retailer-show">
								<div class="retailer_content">
									<div class="thumb">
										<img src="assets/images/header/icon/03.png" alt="header">
										<span>Retailer Info</span>
									</div>
									<p>I am a Retailer of ABL</p>
								</div>
								<div class="customer_content">
									<div class="thumb">
										<img src="assets/images/header/icon/03.png" alt="header">
										<span>Customer Info</span>
									</div>
									<p>I am a Customer of ABL</p>
								</div>
							</div>
							<div class="facebook_login">
								<a href="#" class="btn"><i class="fab fa-facebook-f"></i><span>Login with</span> Facebook</a>
							</div>
							<div class="login_form">
								<h5><span>Or</span></h5>
								<div class="user_pass_from">
									<div class="input_one">
										<i class="fas fa-envelope"></i>
										<input type="text" placeholder="Enter Username" name="uname" required>
									</div>
									<div class="input_two">
										<i class="fas fa-lock"></i>
										<input type="password" placeholder="Enter Password" name="psw" required>
									</div>
									<div class="remember_forget">
										<lebal><input type="checkbox" checked="checked" name="remember"> Remember me</lebal>
										<span class="psw">Forgot <a href="#">password?</a></span>
									</div>
									<button type="submit">Login</button>
									<p>Don’t Have Account? <a href="#">Sign Up</a></p>
								</div>
							</div>
						</div>

						<div class="sign_in">
							<ul class="sign_in_nav">
								<li class="retailer_show active" data-target="retailer-show"><i class="fas fa-check"></i> Retailer</li>
								<li class="customer_show" data-target="customer-show"><i class="fas fa-check"></i> Customer</li>
							</ul>
							<div class="sign_in_content retailer-show">
								<div class="retailer_content">
									<div class="thumb">
										<img src="assets/images/header/icon/03.png" alt="header">
										<span>Retailer Info</span>
									</div>
									<p>I am a Retailer of ABL</p>
								</div>
								<div class="customer_content">
									<div class="thumb">
										<img src="assets/images/header/icon/03.png" alt="header">
										<span>Customer Info</span>
									</div>
									<p>I am a Customer of ABL</p>
								</div>
							</div>
							<div class="facebook_login">
								<a href="#" class="btn"><i class="fab fa-facebook-f"></i><span>Login with</span> Facebook</a>
							</div>
							<div class="login_form">
								<h5><span>Or</span></h5>
								<div class="user_pass_from">
									<div class="input_one">
										<i class="fas fa-user"></i>
										<input type="text" placeholder="Enter Username" name="uname" required>
									</div>
									<div class="input_two">
											<i class="fas fa-envelope"></i>
										<input type="email" placeholder="Enter Email" name="email" required>
									</div>
									<div class="input_three">
										<i class="fas fa-mobile-alt"></i>
										<input type="number" placeholder="+880" name="number" required>
									</div>
									<div class="input_four">
										<i class="fas fa-lock"></i>
										<input type="password" placeholder="Enter Password" name="psw" required>
									</div>
									<div class="remember_forget">
										<p>By creating an account you will be up to date on an order's status, and keep track of the orders</p>
									</div>
									<button type="submit">Sign Up</button>
									<p>Don’t Have Account? <a href="#">Sign In</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- singin & loging part ending here -->


		<!-- header section start here -->
		<header class="header-section">
			<div class="header-top">
				<div class="container">
					<div class="d-flex justify-content-between flex-wrap align-items-center">
						<div class="ht_left">
							<p>Help Line:<span>09606-998800</span></p>
						</div>
						<div class="ht_right">
							<div class="d-flex justify-content-end justify-content-lg-between flex-wrap align-items-center">
								<div class="ht_r_left">
									<div class="ht_serch_all">
										<div class="d-flex justify-content-between align-items-center">
											<input type="text" placeholder="Search">
											<select name="taxt">
												<option value="01">All</option>
												<option value="02">Chal</option>
												<option value="03">Dal</option>
												<option value="04">Cake</option>
												<option value="05">laptop</option>
												<option value="06">Shampoo</option>
											</select>
											<button type="submit" class="">
												<i class="flaticon-magnifying-glass"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="ht_r_right">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="ht_r_right d-md-none">
							<div class="ht_icon_all_option">
								<div class="ht_option">Log In</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<div class="d-flex justify-content-between flex-wrap align-items-center">
						<div class="logo_area">
							<div class="menu_bar">
								<i class="fas fa-bars"></i>
							</div>
							<div class="logo">
								<a href="index.html"><img src="assets/images/logo/01.png" alt="logo"></a>
							</div>
						</div>
						<div class="menu_area">
							<div class="main-menu d-none d-xl-block">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a class="active" href="shop-page.html">Shop</a></li>
									<li><a href="#">New Arrivals<span class="new_offer">new</span></a></li>
									<li><a href="#">Popular Item</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
							<div class="author_cart_area">
								<div class="ht_icon_all">
									<div class="wish_list">
										<i class="far fa-heart"></i>
										<span>0</span>
									</div>
									<div class="ht_icon_all_cart">
										<ul>
											<li class="cart">
												<a href="#"><img src="assets/images/header/icon/02.png" alt="icon"><span>4</span></a>
												<div class="cart_content">
													<div class="cart_title">
														<div class="add_item">4 Items Added</div>
														<div class="list_close"><a href="#">Close</a></div>
													</div>
													<div class="cart_scr scrollbar">
														<div class="cart_con_item">
															<div class="cart_item">
																<div class="cart_inner">
																	<div class="cart_top">
																		<div class="thumb">
																			<a href="#"><img src="assets/images/header/buycart/01.png" alt=""></a>
																		</div>
																		<div class="content">
																			<a href="#">Split Remedy Split End Shampoo</a>
																		</div>
																		<div class="remove_btn">
																			<a href="#"><i class="fas fa-times"></i></a>
																		</div>
																	</div>
																	<div class="cart_bottom">
																		<div class="sing_price">Tk. 140</div>
																		<div class="cart-plus-minus">
																			<div class="dec qtybutton">-</div>
																			<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
																			<div class="inc qtybutton">+</div>
																		</div>
																		<div class="total_price">Tk. 280.00</div>
																	</div>
																</div>
															</div>
															<div class="cart_item">
																<div class="cart_inner">
																	<div class="cart_top">
																		<div class="thumb">
																			<a href="#"><img src="assets/images/header/buycart/02.png" alt=""></a>
																		</div>
																		<div class="content">
																			<a href="#">Split Remedy Split End Shampoo</a>
																		</div>
																		<div class="remove_btn">
																			<a href="#"><i class="fas fa-times"></i></a>
																		</div>
																	</div>
																	<div class="cart_bottom">
																		<div class="sing_price">Tk. 140</div>
																		<div class="cart-plus-minus">
																			<div class="dec qtybutton">-</div>
																			<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
																			<div class="inc qtybutton">+</div>
																		</div>
																		<div class="total_price">Tk. 280.00</div>
																	</div>
																</div>
															</div>
															<div class="cart_item">
																<div class="cart_inner">
																	<div class="cart_top">
																		<div class="thumb">
																			<a href="#"><img src="assets/images/header/buycart/03.png" alt=""></a>
																		</div>
																		<div class="content">
																			<a href="#">Split Remedy Split End Shampoo</a>
																		</div>
																		<div class="remove_btn">
																			<a href="#"><i class="fas fa-times"></i></a>
																		</div>
																	</div>
																	<div class="cart_bottom">
																		<div class="sing_price">Tk. 140</div>
																		<div class="cart-plus-minus">
																			<div class="dec qtybutton">-</div>
																			<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
																			<div class="inc qtybutton">+</div>
																		</div>
																		<div class="total_price">Tk. 280.00</div>
																	</div>
																</div>
															</div>
															<div class="cart_item">
																<div class="cart_inner">
																	<div class="cart_top">
																		<div class="thumb">
																			<a href="#"><img src="assets/images/header/buycart/04.png" alt=""></a>
																		</div>
																		<div class="content">
																			<a href="#">Split Remedy Split End Shampoo</a>
																		</div>
																		<div class="remove_btn">
																			<a href="#"><i class="fas fa-times"></i></a>
																		</div>
																	</div>
																	<div class="cart_bottom">
																		<div class="sing_price">Tk. 140</div>
																		<div class="cart-plus-minus">
																			<div class="dec qtybutton">-</div>
																			<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
																			<div class="inc qtybutton">+</div>
																		</div>
																		<div class="total_price">Tk. 280.00</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cart_scr_bottom">
														<ul>
															<li>
																<div class="title">Subtotal</div>
																<div class="price">Tk. 1045.00</div>
															</li>
															<li>
																<div class="title">Shipping</div>
																<div class="price">Tk. 40.00</div>
															</li>
															<li>
																<div class="title">Cart Total</div>
																<div class="price">Tk. 1085.00</div>
															</li>
														</ul>
														<a href="cart-page.html" class="btn">Place Order</a>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="ht_icon_all_option d-none d-md-block">
										<div class="ht_option">Log In</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header section ending here -->

        <!-- page header section start here -->
        <div class="page-header padding-tb">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Consumer</a></li>
                    <li class="breadcrumb-item"><a href="#">Beauty Care</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Split Remedy Split End Shampoo</li>
                </ul>
            </div>
        </div>
        <!-- page header section ending here -->

        <!-- cart page start here -->
        <section class="cart-page">
            <div class="container">
                <div class="section-wrapper">
                    <div class="left_side">
                        <div class="left_side_area">
                            <div class="side_bottom">
								<div class="side_bottom_area">
									<div class="side_title">
										<div class="pro_title">
											<h6>Shipping Cart</h6>
										</div>
										<div class="pro_qua">
											<h6>Quantity</h6>
										</div>
										<div class="pro_poi">
											<h6>Points</h6>
										</div>
										<div class="pro_pri">
											<h6>Price</h6>
										</div>
									</div>
									<div class="cart_pro_list">
										<ul>
											<li class="side_body">
												<div class="pro_title">
													<div class="thumb">
														<a href="#"><img src="assets/images/shop/cart/02.png" alt="cart"></a>
													</div>
													<div class="content">
														<a href="#">TRESemme used by professionals</a>
														<p>50 ml</p>
													</div>
												</div>
												<div class="pro_qua">
													<div class="cart-plus-minus">
														<div class="dec qtybutton">-</div>
														<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
														<div class="inc qtybutton">+</div>
													</div>
												</div>
												<div class="pro_poi">
													<span>9.0</span>
												</div>
												<div class="pro_pri">
													<span>Tk. 630.00</span>
												</div>
											</li>
											<li class="side_body">
												<div class="pro_title">
													<div class="thumb">
														<a href="#"><img src="assets/images/shop/cart/03.png" alt="cart"></a>
													</div>
													<div class="content">
														<a href="#">TRESemme used by professionals</a>
														<p>50 ml</p>
													</div>
												</div>
												<div class="pro_qua">
													<div class="cart-plus-minus">
														<div class="dec qtybutton">-</div>
														<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
														<div class="inc qtybutton">+</div>
													</div>
												</div>
												<div class="pro_poi">
													<span>9.0</span>
												</div>
												<div class="pro_pri">
													<span>Tk. 630.00</span>
												</div>
											</li>
											<li class="side_body">
												<div class="pro_title">
													<div class="thumb">
														<a href="#"><img src="assets/images/shop/cart/04.png" alt="cart"></a>
													</div>
													<div class="content">
														<a href="#">TRESemme used by professionals</a>
														<p>50 ml</p>
													</div>
												</div>
												<div class="pro_qua">
													<div class="cart-plus-minus">
														<div class="dec qtybutton">-</div>
														<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
														<div class="inc qtybutton">+</div>
													</div>
												</div>
												<div class="pro_poi">
													<span>9.0</span>
												</div>
												<div class="pro_pri">
													<span>Tk. 630.00</span>
												</div>
											</li>
										</ul>
										<div class="total_price_palan">
											<ul>
												<li class="side_footer">
													<div class="pro_title"></div>
													<div class="pro_qua">
														<h6>Sub Total</h6>
													</div>
													<div class="pro_poi">
														<h6>27.0</h6>
													</div>
													<div class="pro_pri">
														<h6>Tk. 3165.00</h6>
													</div>
												</li>
												<li class="side_footer">
													<div class="pro_title"></div>
													<div class="pro_shop">
														<p>Shipping Charge</p>
														<span>Tk. 0.00</span>
													</div>
												</li>
												<li class="side_footer">
													<div class="pro_title"></div>
													<div class="pro_qua">
														<h6>Total</h6>
													</div>
													<div class="pro_poi">
														<h6>27.0</h6>
													</div>
													<div class="pro_pri">
														<h6>Tk. 3165.00</h6>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="right_side">
						<div class="payment_mathod">
							<div class="payment_thumb">
								<img src="assets/images/payment/icon.png" alt="payment-thumb">
							</div>
							<div class="payment_content">
								<h6>Payment Methoads</h6>
								<p>Please select the preferred shipping method to use on this order.</p>
								<div class="payment_mathod_items">
									<p class="payment_mathod_item">
										<input type="checkbox" value="yes" name="pay_mathod">
										<label>ABL Payment</label>
									</p>
									<p class="payment_mathod_item">
										<input type="checkbox" value="yes" name="pay_mathod">
										<label>Cradit Card / Debit Card / Mobile Banking</label>
									</p>
								</div>
							</div>
						</div>
						<div class="customer_information">
							<div class="title">
								<h6>Shipping Informations</h6>
							</div>
							<ul class="customer_details">
								<li>
									<label>Your Name</label>
									<input type="text" placeholder="Khandoker Rasel">
								</li>
								<li>
									<label>Select Delivery Area</label>
									<select name="select">
										<option value="1">Asuliya</option>
										<option value="2">Bonani</option>
										<option value="3">Saver</option>
										<option value="4">Gulisthan</option>
										<option value="5">Wari</option>
										<option value="6">Motijel</option>
									</select>
								</li>
								<li>
									<label>Address</label>
									<textarea name="text" rows="7" placeholder="Enter delivery address here"></textarea>
								</li>
								<li>
									<label>Phone</label>
									<input type="text" placeholder="+880">
								</li>
								<li>
									<button type="submit" class="btn">Conferm Order</button>
								</li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </section>
        <!-- cart page ending here -->

		<!-- customer vesit section start here -->
		<div class="cus_vis_section">
			<div class="container">
				<div class="section-wrapper">
					<div class="cus_vis_items">
						<div class="cus_vis_item">
							<div class="cus_vis_inner">
								<div class="cus_vis_content">
									<div class="cus_icon"><img src="assets/images/counter/tags.png" alt="coubter"></div>
									<div class="cus_count">
										<h3 class="counter">50</h3><span>+</span>
									</div>
									<div class="cus_desc">
										<p>Exclusive Categories</p>
									</div>
								</div>
							</div>
						</div>
						<div class="cus_vis_item">
							<div class="cus_vis_inner">
								<div class="cus_vis_content">
									<div class="cus_icon"><img src="assets/images/counter/bag.png" alt="coubter"></div>
									<div class="cus_count">
										<h3 class="counter">500</h3><span>+</span>
									</div>
									<div class="cus_desc">
										<p>Products & Accessories</p>
									</div>
								</div>
							</div>
						</div>
						<div class="cus_vis_item">
							<div class="cus_vis_inner">
								<div class="cus_vis_content">
									<div class="cus_icon"><img src="assets/images/counter/cus.png" alt="coubter"></div>
									<div class="cus_count">
										<h3 class="counter">10890</h3><span>+</span>
									</div>
									<div class="cus_desc">
										<p>Happy Customers</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- customer vesit section ending here -->


		<!-- footer section start here -->
		<footer>
			<div class="footer-top padding-tb">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-sm-6">
							<div class="fr_left_side">
								<div class="ft_item">
									<div class="ft_logo_area">
										<a href="index.html">
											<img src="assets/images/logo/01.png" alt="ft_logo">
										</a>
										<p>Care Me is an uprising personal Care & lifestyle brand in Bangladesh. In ‘care me’ we do not sell a product; we believe it’s a ‘service’. Customer satisfaction is our highest priority!</p>
										<div class="ft_s_media">
											<ul>
												<li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
												<li class="twitter"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
												<li class="linkedin"><a href="#"><i class="fab fa-instagram"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="ft_item ft_bg_item">
								<div class="ft_flow">
									<div class="ft_title">
										<h6>Follow Us</h6>
									</div>
									<div class="ft_body">
										<ul>
											<li>
												<div class="ft_icon"><i class="fas fa-map-marker-alt"></i></div>
												<div class="ft_content">
													<p>Kasfia Plaza (4th and 5th Floor), 35/C Naya Paltan, Dhaka.</p>
												</div>
											</li>
											<li>
												<div class="ft_icon"><i class="fas fa-phone-volume"></i></div>
												<div class="ft_content">
													<p>01711008438</p>
												</div>
											</li>
											<li>
												<div class="ft_icon"><i class="fas fa-envelope"></i></div>
												<div class="ft_content">
													<a href="#">info@caremeltd.com</a>
												</div>
											</li>
											<li>
												<div class="ft_icon"><i class="fas fa-globe-asia"></i></div>
												<div class="ft_content">
													<a href="#">https://caremeltd.com</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-sm-6">
							<div class="ft_item">
								<div class="ft_flow">
									<div class="ft_title">
										<h6>Get to Know Us</h6>
									</div>
									<div class="ft_body">
										<ul>
											<li><a href="#">About Us</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Refund Policy</a></li>
											<li><a href="#">Terms & Conditions</a></li>
											<li><a href="#">Gift Cards</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-sm-6">
							<div class="ft_item">
								<div class="ft_flow">
									<div class="ft_title">
										<h6>Need Help?</h6>
									</div>
									<div class="ft_body">
										<ul>
											<li><a href="#">Help Line</a></li>
											<li><a href="#">Contact Care Me</a></li>
											<li><a href="#">Shipping Guideline</a></li>
											<li><a href="#">Tracking Your Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="section-wrapper">
						<p>&copy; 2019-2020 <a href="index.html">Careme BD.</a> All Rights Reserved. Design & Developed by <a href="https://www.webcodeltd.com/">WebCode Limited</a></p>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer section start here -->

		<!-- scrollToTop start here -->
		<a href="#" class="scrollToTop"><i class="flaticon-chevron-up"></i></a>
		<!-- scrollToTop ending here -->

		
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/news-ticker.min.js"></script>
		<script src="assets/js/fontawesome.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/swiper.min.js"></script>
		<script src="assets/js/slick.min.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>